:root{
    --darkgreen:#43A046;
    --naturalgrey:#717171;
    --naturalwhite:#FFFFFF;
    --silver:#F5F7FA;
    --primarycolor:#4CAF4F;
    --standardcolor:#18191F;
    --greycolor:#E0E0E0;
}
@font-face {
    font-family: inter;
    src: url(fonts/Inter_18pt-SemiBold.ttf);
    font-family: inter1;
    src: url(fonts/Inter_18pt-Medium.ttf);
    font-family: inter2;
    src: url(fonts/Inter_24pt-Regular.ttf);
    font-family: inter3;
    src: url(fonts/Inter_18pt-Bold.ttf);
}
.font{
    font-family: inter;
}
.font1{
    font-family: inter1;
}
.font2{
    font-family: inter2;
}
.font3{
    font-family: inter3;
}
.bgsilver{
    background-color: var(--naturalwhite);
}
.green{
    color: var(--darkgreen);
}
.blackcolor{
    color:var(--standardcolor)
}
.textgreen{
    color: var(--primarycolor);
}
.textgreen:hover{
    background-color:var(--primarycolor);
    color: var(--naturalwhite);
   
}
.bggreen{
    background-color: var(--primarycolor);
}
.bg-silver{
background-color: var(--silver);
}
.bggreen:hover{
    background-color: var(--primarycolor);
    color: var(--naturalwhite);
    transform: translateY(-2px);
}
.bggreen:active{
    background-color: var(--primarycolor);
    color:black;
     transform: translateY(0); 
     box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}
.shadow{
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); 
}
.nav-link:hover{
color: green;
font-style: italic;
}

@media screen and (max-width:576px) {
    .size:25px;
}